<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">bob</property>
		<property name="hibernate.connection.password">bob</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@myrevaturedb.cehb5rwvbkhl.us-east-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- this is very noisy in the console -->
		<property name="hibernate.show_sql"></property>
		<!-- creates database if "create", keeps existing structure and values if "update" or nothing -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- map domain object classes -->
		<mapping class="com.revature.domain.E_User"/>
		<mapping class="com.revature.domain.Reimburstment"/>
	</session-factory>
</hibernate-configuration>